.form-group {
    padding: 0;
    width: 100%;
    margin-bottom: 20px;

// Elements
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__title {
        font-weight: bold;
    }

    &__note {
        font-weight: normal;        
        color: $color-50;
    }
    &__body {
        padding-top:5px;
    }
}



.accordion {
    .form-group__note {
        display: none;
    }

    .form-group__wrapper {
        cursor: pointer;
        background-image: url(../img/expand_more.png);
        background-repeat: no-repeat;
        background-position: top right;
    }

    .form-group__body {
        display: none;
    }

    .expanded {
        display: block;
    }
}