.formelements-container {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 3px auto;
    box-sizing: border-box;

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }

    .col-3x {
        min-width: 320px;
        box-sizing: border-box;
    }

    .col-3x:nth-child(2) {
        // border: 1px solid red;
        margin-left: 126px;
    }
    .col-3x:nth-child(3) {
        // border: 1px solid red;
        margin-left: 72px;
    }
}





.col-3x-2x {
    flex: 1 0 auto; 
    max-width: 710px;
    min-width: 320px;
    margin-bottom: 100px;
}


